@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Mono", monospace;
}

.news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.articles {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article-image {
  width: 400px;
  height: auto;
}
